@import url('https://fonts.googleapis.com/css2?family=Lora:wght@400;500;600;700&family=Quicksand:wght@400;500;600;700&display=swap');

body {
  background-color: #06182b;
  background-blend-mode: multiply;
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  color: aliceblue;
  font-family: 'Lora', serif;

  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

main {
  flex: 1;
}

@media (max-width: 991px) {
  .sidebar {
    background-color: rgba(255, 255, 255, 0.1);
    backdrop-filter: blur(10px);
  }
}

.scale-on-hover {
  transition: 0.2s;
}

.scale-on-hover:hover {
  transform: scale(1.025);
}

.scale-on-hover-2 {
  transition: 0.2s;
}

.scale-on-hover-2:hover {
  transform: scale(1.06);
}

.unscale-on-click {
  transition: 0.1s;
}

.unscale-on-click:active {
  transform: scale(1);
}

.card, .card-img-top {
  border-radius: 1.25rem;
}

p {
  text-align: justify;
}



.form-container {
  border-radius: 1rem;
  border-style: double;
  border-color: white;
  width: 40%;
  margin: auto;
}

.pointer-on-hover {
  cursor: pointer;
}

.box-3d {
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.19), 0 6px 6px rgba(0, 0, 0, 0.22);
}

.centered-text {
  text-align: center;
}

#header-and-first-section-container {
  background-image: url('../img/background.jpg');
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed;

}